@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "colors";

/*
 * Theme definitions
 */

$themes: (
  light: (
    backgroundColor: white,
    footerBackground: white,
    navBackground: $gray-100,
    secondary: $gray-900,
    textColor: $black,
    firstName: $steel-blue,
    lastName: $black,
    linkHover: $gray-800,
    themeColor: $dark-blue,
    codeBranchColor: pink,
    titleColor: $dark-blue,
    hrefColor: $dark-blue,
    github: $black,
    linkedin: $linkedin-blue,
    mail: $yellow,
    facebook: $fb-blue,
    twitter: $tw-blue,
    iconBackground: $white,
    cardBackground: $white,
  ),
  dark: (
    backgroundColor: #222,
    footerBackground: #222,
    secondary: $gray-100,
    navBackground: $dark-gray,
    linkHover: $gray-200,
    textColor: $gray-300,
    firstName: $gray-100,
    lastName: $empire-red,
    titleColor: $white,
    hrefColor: $faded-red,
    themeColor: $dark-red,
    codeBranchColor: red,
    github: $white,
    linkedin: $linkedin-blue,
    mail: $yellow,
    facebook: $fb-blue,
    twitter: $tw-blue,
    iconBackground: #222,
    cardBackground: $dark-gray,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/** CUSTOM THEMING BEGIN */

.first-name {
  @include themify($themes) {
    color: themed("firstName");
  }
}

.last-name {
  @include themify($themes) {
    color: themed("lastName");
  }
}

// header
.navbar,
.navbar div {
  @include themify($themes) {
    background: themed("navBackground");
  }
}

.nav-links a {
  @include themify($themes) {
    color: themed("linkHover") !important;
    &:hover {
      text-decoration: underline themed("hrefColor") solid;
    }
  }
}

.code-branch {
  text-decoration: none;
  @include themify($themes) {
    color: themed("codeBranchColor");
  }
}

.watch-list-title {
  @include themify($themes) {
    color: themed("secondary");
  }
}

.card-container {
  @include themify($themes) {
    width: 25rem;
    height: 23rem;
    text-decoration-color: themed("hrefColor");
    & * {
      background: themed("cardBackground");
    }
  }
}

.blog-filter {
  @include themify($themes) {
    & input {
      color: themed("titleColor");
      &:focus {
        box-shadow: 0 0 0 1px rgba(themed("hrefColor"), 0.5);
        border-color: rgba(themed("hrefColor"), 0.5);
      }
    }
  }
}

.profile-tags {
  @include themify($themes) {
    background: themed("navBackground");
  }
}

.icons {
  width: 60px !important;
}

.icons:hover {
  @include themify($themes) {
    background: themed("iconBackground");
    &.facebook {
      color: themed("facebook");
    }
    &.twitter {
      color: themed("twitter");
    }
    &.instagram {
      width: 60px;
      color: $white;
      border-radius: 20px;
      padding: 1px 10px;
      background-image: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
    }
    &.github {
      color: themed("github");
    }
    &.linkedin {
      color: themed("linkedin");
    }
    &.mail {
      color: themed("mail");
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  @include themify($themes) {
    color: themed("titleColor");
  }
}

div {
  @include themify($themes) {
    background: themed("backgroundColor");
  }
}

p {
  @include themify($themes) {
    color: themed("textColor");
  }
}

.footer {
  @include themify($themes) {
    background: themed("navBackground");
    .footer-text {
      background: themed("navBackground");
    }
    .footer-social {
      background: themed("navBackground");
    }
  }
}

.social-icons {
  width: 1.4rem !important;
}

.social-icons:hover {
  @include themify($themes) {
    background: themed("iconBackground");
    &.facebook {
      color: themed("facebook");
    }
    &.twitter {
      color: themed("twitter");
    }
    &.instagram {
      width: 1.4rem;
      color: $white;
      border-radius: 3px;
      padding: 1px 5px;
      background-image: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
    }
    &.github {
      color: themed("github");
    }
    &.linkedin {
      color: themed("linkedin");
    }
    &.mail {
      color: themed("mail");
    }
  }
}
